/* === Mixins, Vars and Fonts === */
@font-face {
  font-family: "Cormorant Regular";
  src: url("../fonts/Cormorant-Regular.eot");
  src: url("../fonts/Cormorant-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cormorant-Regular.woff") format("woff"), url("../fonts/Cormorant-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Light";
  src: url("../SFProDisplay-Light.eot");
  src: url("../SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../SFProDisplay-Light.woff") format("woff"), url("../SFProDisplay-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Regular";
  src: url("../SFProDisplay-Regular.eot");
  src: url("../SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../SFProDisplay-Regular.woff") format("woff"), url("../SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "San Francisco Pro Display Medium";
  src: url("../SFProDisplay-Medium.eot");
  src: url("../SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../SFProDisplay-Medium.woff") format("woff"), url("../SFProDisplay-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* === /Mixins, Vars and Fonts === */
/* === General styles === */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

.container {
  box-sizing: border-box;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* === /General styles === */
/* === Blocks === */
.header {
  box-sizing: border-box;
  min-height: 900px;
  padding-top: 30px;
  background-image: url("../img/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__main-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__nav {
  margin-right: auto;
}
.header__tel {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #ffffff;
  margin-right: 55px;
}
.header__button {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  padding: 15px 54px;
  cursor: pointer;
}
.header__title-wrapper {
  margin-top: 200px;
}
.header__title {
  font-family: "Cormorant Regular";
  color: #ffffff;
  font-weight: 400;
  font-size: 200px;
  line-height: 200px;
  text-align: center;
  margin-bottom: 30px;
}
.header__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #ffffff;
  font-size: 23px;
  line-height: 34px;
  text-align: center;
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.main-nav__item {
  margin-right: 30px;
}
.main-nav__item:last-child {
  margin-right: 0;
}
.main-nav__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #ffffff;
  padding: 10px 10px;
}

.welcome__container {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 100px;
}
.welcome__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  color: #201414;
  font-family: "SF Pro Display";
}
.welcome__text-wrapper {
  max-width: 560px;
}
.welcome__paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #201414;
  font-family: "SF Pro Display";
  margin-top: 0;
  margin-bottom: 30px;
}
.welcome__table {
  margin-top: 50px;
}

.flat-options {
  max-width: 460px;
}
.flat-options__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.flat-options__number {
  font-family: "SF Pro Display";
  font-weight: 300;
  font-size: 60px;
  line-height: 60px;
  color: #201414;
  margin-bottom: 10px;
}
.flat-options__letter {
  font-family: "SF Pro Display";
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  color: #201414;
  margin-left: 5px;
}
.flat-options__descr {
  font-family: "SF Pro Display";
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #201414;
  margin: 0;
}

.map-section__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.map-section__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
  margin-bottom: 60px;
}
.map-section__text-wrapper {
  display: flex;
  margin-bottom: 60px;
}
.map-section__paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #201414;
  max-width: 450px;
  margin-right: auto;
}
.map-section__placeholder {
  margin-bottom: 30px;
}
.map-section__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.map-section__button {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #201414;
  border: none;
  background-color: transparent;
  padding: 5px 10px;
  opacity: 0.5;
  cursor: pointer;
}
.map-section__button_current {
  opacity: 1;
}
.map-section__button_first {
  padding-left: 0;
  padding-right: 10px;
}
.map-section__button_last {
  padding-left: 10px;
  padding-right: 0;
}

.inspiration__container {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 100px;
}
.inspiration__img-wrapper {
  width: 560px;
}
.inspiration__img {
  max-width: 100%;
  height: auto;
}
.inspiration__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 560px;
}
.inspiration__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
  margin-bottom: 60px;
}
.inspiration__paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #201414;
  margin-top: 0;
  margin-bottom: 40px;
}
.inspiration__paragraph:last-child {
  margin-bottom: 0;
}

.advantages__container {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 100px;
}
.advantages__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
}
.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 20px;
  max-width: 640px;
}
.advantages__item {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #201414;
  position: relative;
}
.advantages__item::before {
  content: "";
  display: block;
  width: 25px;
  height: 1px;
  background-color: #201414;
  opacity: 0.2;
  position: absolute;
  top: 14px;
  left: -45px;
}

.offers__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.offers__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
  margin-bottom: 50px;
}
.offers__descr {
  font-family: "SF Pro Display";
  color: #201414;
  font-size: 23px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0.01em;
  margin-bottom: 60px;
  max-width: 500px;
}
.offers__cards-wrapper {
  display: flex;
  justify-content: space-between;
}

.layout-card {
  max-width: 560px;
}
.layout-card__img-wrapper {
  width: 560px;
  margin-bottom: 40px;
}
.layout-card__img {
  max-width: 100%;
  height: auto;
}
.layout-card__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
  margin-bottom: 30px;
}
.layout-card__paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #201414;
  margin-bottom: 30px;
}
.layout-card__button {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #201414;
  background-color: transparent;
  border: 1px solid rgba(32, 20, 20, 0.7);
  padding: 14px 60px;
  cursor: pointer;
}

.carousel-section__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.carousel-section__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
  margin-bottom: 60px;
}

.carousel {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.carousel__item {
  width: 100%;
}
.carousel__img-wrapper {
  width: 100%;
  margin-bottom: 40px;
}
.carousel__img {
  max-width: 100%;
  height: auto;
}
.carousel__descr-wrapper {
  display: flex;
}
.carousel__counter {
  font-weight: 300;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.01em;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
  margin-right: auto;
}
.carousel__text-wrapper {
  max-width: 460px;
}
.carousel__title {
  font-family: "SF Pro Display";
  color: #201414;
  font-weight: 300;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.01em;
  margin-bottom: 30px;
}
.carousel__paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #201414;
}
.carousel__button {
  position: absolute;
  top: 284px;
  padding: 20px 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.carousel__button_to-left {
  left: -57px;
  background-image: url("../icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.carousel__button_to-right {
  right: -57px;
  background-image: url("../icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.specs__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.specs__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
  margin-bottom: 60px;
}
.specs__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.specs__item {
  position: relative;
  padding: 28px 20px;
  border-top: 1px solid rgba(32, 20, 20, 0.1);
}
.specs__item:last-child {
  border-bottom: 1px solid rgba(32, 20, 20, 0.1);
}
.specs__item_current {
  background-color: rgba(32, 20, 20, 0.1);
  border-top-color: transparent;
}
.specs__button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}
.specs__button_expand {
  background-image: url("../icons/plus.svg");
}
.specs__button_minimize {
  background-image: url("../icons/minus.svg");
}
.specs__subtitle {
  font-weight: 300;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.01em;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
  margin-bottom: 0;
}
.specs__descr {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #201414;
  margin-top: 10px;
  margin-bottom: 0;
}

.partners__container {
  padding-top: 130px;
  padding-bottom: 100px;
}
.partners__title {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin-top: 0;
  font-family: "SF Pro Display";
  color: #201414;
  margin-bottom: 60px;
}
.partners__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.partners__card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 20, 20, 0.03);
  box-sizing: border-box;
  min-height: 230px;
}
.partners__link {
  padding: 60px;
}

.footer {
  background-color: #201414;
}
.footer__container {
  padding-top: 120px;
  padding-bottom: 40px;
  display: flex;
}
.footer__contacts {
  margin-right: auto;
}

.contacts {
  max-width: 400px;
}
.contacts__title {
  font-family: "Cormorant Regular";
  color: #ffffff;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  margin-top: 0;
  margin-bottom: 50px;
}
.contacts__address {
  font-style: normal;
  margin-bottom: 226px;
}
.contacts__tel {
  font-weight: 300;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: 0.01em;
  margin-top: 0;
  text-decoration: none;
  font-family: "SF Pro Display";
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}
.contacts__descr {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.01em;
  font-family: "SF Pro Display";
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 70px;
}
.contacts__copyright {
  font-family: "SF Pro Display";
  color: #ffffff;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.socials {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.socials__item {
  margin-right: 25px;
}
.socials__item:last-child {
  margin-right: 0;
}

/* === /Blocks === */