@charset "UTF-8";
.container {
  max-width: 1300px; /* С учетом padding слева и справа 50px */
  margin: 0 auto;
}

.button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}
.header__navigation {
  margin-right: 430px;
}
.header__tel {
  margin-right: 49px;
}
.header__button {
  padding: 10px 20px;
}

.navigation-list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
}
.navigation-list__item {
  margin-right: 50px;
}
.navigation-list__item:last-child {
  margin-right: 0;
}