@font-face {
    font-family: 'Cormorant Regular';
    src: url('../fonts/Cormorant-Regular.eot');
    src: url('../fonts/Cormorant-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Cormorant-Regular.woff') format('woff'),
    url('../fonts/Cormorant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display Light';
    src: url('../SFProDisplay-Light.eot');
    src: url('../SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../SFProDisplay-Light.woff') format('woff'),
    url('../SFProDisplay-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display Regular';
    src: url('../SFProDisplay-Regular.eot');
    src: url('../SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../SFProDisplay-Regular.woff') format('woff'),
    url('../SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco Pro Display Medium';
    src: url('../SFProDisplay-Medium.eot');
    src: url('../SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../SFProDisplay-Medium.woff') format('woff'),
    url('../SFProDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

