/* === Media === */

@mixin tablet-screen {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin modern-phone-screen {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin old-phone-screen {
    @media (max-width: 576px) {
        @content;
    }
}

/* === /Media === */

/* === Resets === */

@mixin list-reset {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin link-reset {
    text-decoration: none;
}

/* === /Resets === */

/* === Text === */

@mixin text-regular {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;

    @include modern-phone-screen {
        font-size: 14px;
        line-height: 21px;
    }
}

@mixin title-regular {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    margin-top: 0;

    @include tablet-screen {
        font-size: 35px;
    }

    @include modern-phone-screen {
        font-size: 25px;
        line-height: 30px;
    }
}

@mixin subtitle-regular {
    font-weight: 300;
    font-size: 23px;
    line-height: 34px;
    letter-spacing: 0.01em;
    margin-top: 0;

    @include modern-phone-screen {
        font-size: 16px;
        line-height: 24px;
    }
}

/* === /Text === */

/* === Elements === */

@mixin footer-button {
    @include text-regular;

    font-family: $font-general;
    color: $text-color_light;
    display: block;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 13px 54px;
    margin-bottom: 30px;
    cursor: pointer;
}

@mixin section-paddings {
    padding-top: 50px;
    padding-bottom: 50px;

    @include modern-phone-screen {
        padding-bottom: 0;
    }
}

@mixin active-element-transition {
    transition: background-image, background-color, border-color, 0.3s;
}

/* === /Elements === */