@mixin list-reset {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin link-reset {
    text-decoration: none;
}

@mixin text-regular {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
}

@mixin title-regular {
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    margin-top: 0;
}

@mixin subtitle-regular {
    font-weight: 300;
    font-size: 23px;
    line-height: 34px;
    letter-spacing: 0.01em;
    margin-top: 0;
}

@mixin footer-button {
    @include text-regular;

    font-family: $font-general;
    color: $text-color_light;
    display: block;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 13px 54px;
    margin-bottom: 30px;
    cursor: pointer;
}