.advantages {
    &__container {
        @include section-paddings;
        
        display: flex;
        justify-content: space-between;
    
        @include tablet-screen {
            flex-direction: column;
        }
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;

        @include modern-phone-screen {
            margin-bottom: 50px;
        }
    }
    &__list {
        @include list-reset;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        row-gap: 20px;
        max-width: 640px;

        @include tablet-screen {
            max-width: 768px;
            column-gap: 230px;
            padding-left: 50px;
        }
        @include modern-phone-screen {
            max-width: 512px;
            column-gap: 50px;
        }
    }
    &__item {
        @include text-regular;

        font-family: $font-general;
        color: $text-color_dark;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 25px;
            height: 1px;
            background-color: $text-color_dark;
            opacity: 0.2;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -45px;
        }
    }
}