.carousel-section {
    &__container {
        @include section-paddings;
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 60px;

        @include modern-phone-screen {
            margin-bottom: 40px;
        }
    }
}