.carousel {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    @include tablet-screen {
        max-width: 760px;
    }
    &__item {
        padding: 0 40px;

        @include tablet-screen {
            padding: 0 30px;
        }
        @include modern-phone-screen {
            padding: 0 20px;
        }
    }
    &__img {
        max-width: 100%;
        height: auto;
        margin-bottom: 40px;

        @include tablet-screen {
            margin-bottom: 30px;
        }
        @include modern-phone-screen {
            margin-bottom: 20px;
        }
    }
    &__descr-wrapper {
        display: flex;
    }
    &__counter {
        @include subtitle-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-right: auto;

        @include modern-phone-screen {
            position: absolute;
            bottom: 200px;
            right: 20px;
            font-weight: 400;
            color: $text-color_light;
        }
    }
    &__text-wrapper {
        max-width: 460px;
        
        @include modern-phone-screen {
            max-width: 280px;
        }
    }
    &__title {
        @include subtitle-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-top: 0;
        margin-bottom: 30px;
    }
    &__paragraph {
        @include text-regular;

        font-family: $font-general;
        color: $text-color_dark;
    }
    &__button {
        position: absolute;
        top: 32%;
        padding: 20px 15px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: transform, 0.1s;
        &_to-left {
            left: 0px;
            background-image: url('../icons/arrow-left.svg');
            background-repeat: no-repeat;
            background-position: center center;
            @include tablet-screen {
                left: -10px;
            }
        }
        &_to-right {
            right: 0px;
            background-image: url('../icons/arrow-right.svg');
            background-repeat: no-repeat;
            background-position: center center;
            @include tablet-screen {
                right: -10px;
            }
        }
        &:hover {
            transform: scale(1.3, 1.3);
        }
        @include modern-phone-screen {
            display: none;
        }
    }
}