.contacts {
    &__title {
        font-family: $font-secondary;
        color: $text-color_light;
        font-weight: 400;
        font-size: 100px;
        line-height: 70px;
        margin-top: 0;
        margin-bottom: 50px;

        @include modern-phone-screen {
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 40px;
        }
    }
    &__address {
        font-style: normal;
        margin-bottom: 226px;

        @include tablet-screen {
            margin-bottom: 126px;
        }
        @include modern-phone-screen {
            margin-bottom: 76px;
        }
    }
    &__tel {
        @include subtitle-regular;
        @include link-reset;

        font-family: $font-general;
        color: $text-color_light;
        display: block;
        margin-bottom: 20px;
    }
    &__descr {
        @include text-regular;

        font-family: $font-general;
        color: $text-color_light;
        opacity: 0.6;
        margin-bottom: 70px;
    }
    &__copyright {
        font-family: $font-general;
        color: $text-color_light;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;

        @include modern-phone-screen {
            font-size: 12px;
            line-height: 14px;
        }
    }
}