.flat-options {
    max-width: 460px;
    &__list {
        @include list-reset;

        display: flex;
        justify-content: space-between;

        @include modern-phone-screen {
            width: 240px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 10px;
            column-gap: 30px;
        }
    }
    &__number {
        font-family: $font-general;
        font-weight: 300;
        font-size: 60px;
        line-height: 60px;
        color: $text-color_dark;
        margin-bottom: 10px;

        @include tablet-screen {
            font-size: 50px;
        }
    }
    &__letter {
        font-family: $font-general;
        font-weight: 300;
        font-size: 30px;
        line-height: 45px;
        color: $text-color_dark;
        margin-left: 4px;
    }
    &__descr {
        font-family: $font-general;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: $text-color_dark;
        margin: 0;
    }
}