.footer {
    background-color: $bg-color_dark;
    &__container {
        padding-top: 120px;
        padding-bottom: 40px;
        display: flex;

        @include modern-phone-screen {
            padding-top: 67px;
            padding-bottom: 20px;
        }
    }
    &__contacts {
        max-width: 285px;
        margin-right: auto;
        
        @include modern-phone-screen {
            max-width: 202px;
        }
    }
    &__request {
        width: 460px;
        margin-right: 100px;

        @include tablet-screen {
            width: 340px;   
        }

        @include modern-phone-screen {
            margin-right: 0;
            width: 280px;
        }
    }
}