.footer {
    background-color: $bg-color_dark;
    &__container {
        padding-top: 120px;
        padding-bottom: 40px;
        display: flex;
    }
    &__contacts {
        max-width: 285px;
        margin-right: auto;
    }
    &__request {
        width: 460px;
        margin-right: 100px;

        @include tablet-screen {
            width: 340px;   
        }
    }
}