.footer {
    background-color: $bg-color_dark;
    &__container {
        padding: 120px 100px 40px 100px;
        display: flex;

        @include tablet-screen {
            padding: 80px 50px 30px 50px;
        }

        @include modern-phone-screen {
            padding: 67px 30px 20px 30px;
        }
    }
    &__contacts {
        max-width: 285px;
        margin-right: auto;
        
        @include modern-phone-screen {
            max-width: 202px;
        }
    }
    &__request {
        max-width: 460px;

        @include tablet-screen {
            max-width: 340px;   
        }

        @include modern-phone-screen {
            max-width: 280px;
        }
    }
}