.header {
    position: relative;
    box-sizing: border-box;
    min-height: 900px;
    padding-top: 30px;
    background-image: url('../img/header-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @include modern-phone-screen {
        padding-top: 18px;
        min-height: 800px;
    }
    &__main-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__nav {
        margin-right: auto;
    }
    &__tel {
        @include link-reset;
        @include text-regular;
        @include active-element-transition;

        font-family: $font-general;
        color: $text-color_light;
        margin-right: 55px;
        &:hover {
            color: $text-color-hover_light;
        }
        &:active {
            color: $text-color-active_light;
        }

        @include tablet-screen {
            margin-right: 20px;
        }
        @include modern-phone-screen {
            margin-right: 0;
        }
    }
    &__button {
        @include text-regular;
        @include active-element-transition;

        font-family: $font-general;
        color: $text-color_light;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background-color: transparent;
        padding: 15px 54px;
        cursor: pointer;
        &:hover {
            background-color: $bg-color-hover_transparent;
        }
        &:active {
            background-color: $bg-color-active_transparent;
        }

        @include tablet-screen {
            padding: 12px 40px;
        }

        @include modern-phone-screen {
            position: absolute;
            bottom: 211px;
            left: 50%;
            transform: translateX(-50%);
            padding: 14px 81px;
        }
    }
    &__title-wrapper {
        margin-top: 200px;
    }
    &__title {
        font-family: $font-secondary;
        color: $text-color_light;
        font-weight: 400;
        font-size: 200px;
        line-height: 200px;
        text-align: center;
        margin-bottom: 30px;

        @include modern-phone-screen {
            font-size: 150px;
            line-height: 150px; 
        }
    }
    &__subtitle {
        @include subtitle-regular;

        font-family: $font-general;
        color: $text-color_light;
        font-size: 23px;
        line-height: 34px;
        text-align: center;
    }
}