.inspiration {
    &__container {
        @include section-paddings;

        display: flex;
    }
    &__img-wrapper {
        width: 560px;
        margin-right: 80px;

        @include modern-phone-screen {
            align-self: center;
            width: 275px;
            height: 450px;
            margin-right: 50px;
        }
    }
    &__img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;

        @include modern-phone-screen {
           
        }
    }
    &__text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 560px;

        @include tablet-screen {
            max-width: 440px;
        }

        @include modern-phone-screen {
            max-width: 275px;
        }
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 60px;

        @include modern-phone-screen {
            margin-bottom: 40px;
        }
    }
    &__paragraph {
        @include text-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-top: 0;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }

        @include modern-phone-screen {
            margin-bottom: 25px;
        }
    }
}