.inspiration {
    &__container {
        display: flex;
        justify-content: space-between;
        padding-top: 130px;
        padding-bottom: 100px;
    }
    &__img-wrapper {
        width: 560px;
    }
    &__img {
        max-width: 100%;
        height: auto;
    }
    &__text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 560px;
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 60px;
    }
    &__paragraph {
        @include text-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-top: 0;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}