.layout-card {
    max-width: 560px;
    &__img-wrapper {
        width: 560px;
        margin-bottom: 40px;
    }
    &__img {
        max-width: 100%;
        height: auto;
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 30px;
    }
    &__paragraph {
        @include text-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 30px;
    }
    &__button {
        @include text-regular;

        font-family: $font-general;
        color: $text-color_dark;
        background-color: transparent;
        border: 1px solid rgba(32, 20, 20, 0.3);
        padding: 14px 60px;
        cursor: pointer;
    }
}