.main-nav {
    &__list {
        @include list-reset;

        display: flex;
        flex-wrap: wrap;

        @include modern-phone-screen {
            display: none;
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 150px;
        }
    }
    &__expand {
        display: none;
        width: 50px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        background-image: url('../icons/hamburger.svg');
        
        @include modern-phone-screen {
            display: block;
            position: absolute;
            left: 20px;
            top: 20px;
        }
    }
    &__item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }

        @include tablet-screen {
            margin-right: 10px;
        }

        @include modern-phone-screen {
            margin-right: 0;;
        }
    }
    &__link {
        @include link-reset;
        @include text-regular;
        @include active-element-transition;

        font-family: $font-general;
        color: $text-color_light;
        padding: 10px 10px;
        &:hover {
            color: $text-color-hover_light;
        }
        &:active {
            color: $text-color-active_light;
        }

        @include tablet-screen {
            font-size: 16px;
        }
    }
}