.map-section {
    &__container {
        @include section-paddings;
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 20px;
    }
    &__text-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__paragraph {
        @include text-regular;

        box-sizing: border-box;
        font-family: $font-general;
        color: $text-color_dark;
        max-width: 450px;
        margin-right: auto;

        @include tablet-screen {
            max-width: 440px;
            margin-right: 30px;
        }

        @include modern-phone-screen {
            max-width: 280px;
        }
        &:last-child {
            @include tablet-screen {
                margin-right: 0;
            }
        }
    }
    &__img-wrapper {
        max-width: 1200px;
        margin-bottom: 30px;
    }
    &__img {
        max-width: 100%;
        height: auto;
    }
    &__list {
        @include list-reset;

        display: flex;
        justify-content: space-between;
    }
    &__button {
        @include text-regular;
        @include active-element-transition;

        font-family: $font-general;
        color: $text-color_dark;
        border: none;
        background-color: transparent;
        padding: 5px 10px;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 0.8;
        }
        &_current {
            opacity: 1;
        }
        &_first {
            padding-left: 0;
            padding-right: 10px;
        }
        &_last {
            padding-left: 10px;
            padding-right: 0;
        }
    }
}