.offers {
    &__container {
        padding-top: 130px;
        padding-bottom: 100px;
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 50px;
    }
    &__descr {
        font-family: $font-general;
        color: $text-color_dark;
        font-size: 23px;
        font-weight: 300;
        line-height: 34px;
        letter-spacing: 0.01em;
        margin-bottom: 60px;
        max-width: 500px;
    }
    &__cards-wrapper {
        display: flex;
        justify-content: space-between;
    }
}