.offers {
    &__container {
        @include section-paddings;
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 30px;

        @include modern-phone-screen {
            margin-bottom: 20px;
        }
    }
    &__descr {
        font-family: $font-general;
        color: $text-color_dark;
        font-size: 23px;
        font-weight: 300;
        line-height: 34px;
        letter-spacing: 0.01em;
        margin-bottom: 40px;
        max-width: 500px;
        
        @include modern-phone-screen {
            font-size: 16px;
            line-height: 24px;
            max-width: 263px;
            margin-bottom: 20px;
        }
    }
    &__cards-wrapper {
        display: flex;
        justify-content: space-between;
    }
}