.partners {
    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 60px;
    }
    &__list {
        @include list-reset;
        
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(32, 20, 20, 0.03);
        box-sizing: border-box;
        min-height: 230px;
    }
    &__link {
        padding: 60px;
    }
}