.socials {
    @include list-reset;

    display: flex;
    &__item {
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__svg {
        @include active-element-transition;
        
        &:hover {
            opacity: 1;
        }
        &:active {
            opacity: 0.8;
        }
    }
}