.specs {
    &__container {
        @include section-paddings;
    }
    &__title {
        @include title-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 60px;

        @include tablet-screen {
            margin-bottom: 30px;
        }
    }
    &__list {
        @include list-reset;
    }
    &__item {
        position: relative;
        padding: 28px 50px 28px 20px;
        border-top: 1px solid rgba(32, 20, 20, 0.1);
        &:last-child {
            border-bottom: 1px solid rgba(32, 20, 20, 0.1);
        }
        &_current {
            background-color: rgba(32, 20, 20, 0.1);
            border-top-color: transparent;
        }
    }
    &__button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px 20px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center center;
        &_expand {
            background-image: url('../icons/plus.svg');
        }
        &_minimize {
            background-image: url('../icons/minus.svg');
        }
    }
    &__subtitle {
        @include subtitle-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-bottom: 0;
    }
    &__descr {
        @include text-regular;

        font-family: $font-general;
        color: $text-color_dark;
        margin-top: 10px;
        margin-bottom: 0;
    }
}