.welcome {
    &__container {
        @include section-paddings;

        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__title {
        @include title-regular;
        
        color: $text-color_dark;
        font-family: $font-general;
    }
    &__text-wrapper {
        max-width: 560px;
        
        @include tablet-screen {
            max-width: 350px;
        }

        @include modern-phone-screen {
            max-width: 276px;
        }
    }
    &__paragraph {
        @include text-regular;

        color: $text-color_dark;
        font-family: $font-general;
        margin-top: 0;
        margin-bottom: 30px;
    }
    &__table {
        margin-top: 50px;

        @include modern-phone-screen {
            position: absolute;
            top: 90px;
            left: 40px;
        }
    }


}