.header {
    display: flex;

    padding-left: 50px;
    padding-right: 50px;
    
    &__navigation {
        margin-right: 430px;
    }
    &__tel {
        margin-right: 49px;
    }
    &__button {
        padding: 10px 20px;
    }
}
