.navigation-list {
    display: flex;

    padding-left: 0;
    list-style-type: none;

    &__item {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }
}