.header {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}
.header__navigation {
  margin-right: 430px;
}
.header__tel {
  margin-right: 49px;
}
.header__button {
  padding: 10px 20px;
}